<ion-view id="deliveryOrder" class="order">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goBack()">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-title>
        快递配送订单
    </ion-nav-title>
    <ion-content>
        <div class="list">
            <div class="item" style="padding: 10px 0px;">
                <div class="index-area">
                    <div class="left">
                        订单号: 176498882371
                    </div>
                    <div class="right">
                        待收货
                    </div>
                </div>
                <div class="commodity-area">
                    <div class="item item-thumbnail-left">
                        <img src="img/commodity-1.png" />
                        <div class="commodity-info">
                            <div class="description">
                                奶油味夏威夷果 奶油口味特产干货干果 坚果零食小吃袋装
                            </div>
                            <div class="price">
                                <div class="left">&times;1</div>
                                <div class="right">¥69.00</div>
                            </div>
                            <div class="remain">
                                <div class="left"><button class="button button-outline appbutton3">50G</button></div>
                                <div class="right"><button class="button appbutton2">拼团</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail-area">
                    <div class="price-area">
                        <div class="left">
                            <p class="total">合计: <span style="color:#e54142">¥69.00</span>(运费¥0)</p>
                            <p class="time">下单时间: 2017年9点50分</p>
                            <p class="store">快递配送</p>
                        </div>
                        <div class="right">
                            <button class="button button-outline appbutton3">详情</button>
                        </div>
                    </div>
                    <div class="count-area">
                        <div class="left">
                            人数: 3
                        </div>
                        <div class="right">
                            己结束
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="padding: 10px 0px;">
                <div class="index-area">
                    <div class="left">
                        订单号: 176498882371
                    </div>
                    <div class="right">
                        已完成
                    </div>
                </div>
                <div class="commodity-area">
                    <div class="item item-thumbnail-left">
                        <img src="img/commodity-2.png" />
                        <div class="commodity-info">
                            <div class="description">
                                奶油味夏威夷果 奶油口味特产干货干果 坚果零食小吃袋装
                            </div>
                            <div class="price">
                                <div class="left">&times;1</div>
                                <div class="right">¥69.00</div>
                            </div>
                            <div class="remain">
                                <div class="left"><button class="button button-outline appbutton3">50G</button></div>
                                <div class="right"><button class="button appbutton2">拼团</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail-area">
                    <div class="price-area">
                        <div class="left">
                            <p class="total">合计: <span style="color:#e54142">¥69.00</span>(运费¥0)</p>
                            <p class="time">下单时间: 2017年9点50分</p>
                            <p class="store">快递配送</p>
                        </div>
                        <div class="right">
                            <button class="button button-outline appbutton3">详情</button>
                        </div>
                    </div>
                    <div class="count-area">
                        
                    </div>
                </div>
            </div>
            <div class="item" style="padding: 10px 0px;">
                <div class="index-area">
                    <div class="left">
                        订单号: 176498882371
                    </div>
                    <div class="right">
                        待收货
                    </div>
                </div>
                <div class="commodity-area">
                    <div class="item item-thumbnail-left">
                        <img src="img/commodity-1.png" />
                        <div class="commodity-info">
                            <div class="description">
                                奶油味夏威夷果 奶油口味特产干货干果 坚果零食小吃袋装
                            </div>
                            <div class="price">
                                <div class="left">&times;1</div>
                                <div class="right">¥69.00</div>
                            </div>
                            <div class="remain">
                                <div class="left"><button class="button button-outline appbutton3">50G</button></div>
                                <div class="right"><button class="button appbutton2">拼团</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail-area">
                    <div class="price-area">
                        <div class="left">
                            <p class="total">合计: <span style="color:#e54142">¥69.00</span>(运费¥0)</p>
                            <p class="time">下单时间: 2017年9点50分</p>
                            <p class="store">快递配送</p>
                        </div>
                        <div class="right">
                            <button class="button button-outline appbutton3">详情</button>
                        </div>
                    </div>
                    <div class="count-area">
                        <div class="left">
                            人数: 3
                        </div>
                        <div class="right">
                            己结束
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>