<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Home Tab -->
    <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ng-click="goHome()">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!-- User Tab -->
    <ion-tab title="个人中心" icon-off="fa fa-user-o" icon-on="fa fa-user" ng-click="goUser()">
        <ion-nav-view name="tab-user"></ion-nav-view>
    </ion-tab>

</ion-tabs>
